.subtitleSection
{
    margin-top: 80px;
    margin-bottom: 100px;
}
.subtitleSection h2 {
    font-size: 48px;
    color: #426ed5;
    margin-bottom: 40px;
    width: 75%;
    font-weight: 600;
}

.subtitleSection p {
    font-size: 18px;
    color: #404a64;
    width: 65%;
    line-height: 35px;
}
