.mainSection 
{
    background-image: url(../../images/homePage/home/Mask-Group1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 500px;
}


.mainSection h1 {
    font-size: 5rem;
    width: 70%;
    padding-top: 9.5rem;
    color: #fff;
    font-weight: 700;
}